.tweetbox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}
.tweetbox > form {
    display: flex;
    flex-direction: column;
}
.tweetbox__input {
    padding: 20px;
    display: flex;
}
.tweetbox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.tweetbox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}
.tweetBox__imageInput {
    border: none;
    padding: 20px;
    outline: none;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightgray;
}
.tweetBox__tweetMediaIcons {
    display: flex;
    color: var(--twitter-color);
    /* width: 200px !important; */
    margin-left: 100px;
    align-items: center;
    margin-top: 25px;
}
.tweetBox__Icons {
    margin-left: 10px;
    cursor: pointer;
}
.tweetBox__tweetButtonWrapper {
    display: flex;
    align-items: center;
}
.tweetBox__tweetMedia {
    display: flex;
}
.googleLogout {
    border: none !important;
    border-radius: 50% !important;
    box-shadow: none !important;
}
